[builderList]
modelClass = "Akmal\DescOrder\Models\DescOrder"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "slug"
noRecordsMessage = "Нет записей"
detailsPage = "-"
detailsKeyColumn = "slug"
detailsUrlParameter = "slug"
pageNumber = "{{ :page }}"

[builderList menu]
modelClass = "Akmal\Menu\Models\Menu"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "slug"
noRecordsMessage = "Нет пункта"
detailsPage = "home"
detailsKeyColumn = "slug"
detailsUrlParameter = "slug"
pageNumber = "{{ :page }}"
==
<div class="mmenu-nav"></div>
<div class="flabHeader" id="top" style="background-image:url({{'assets/images/header/headerBg.png'|theme}})">
  <div class="flabHamburger"><span class="flabHamburger__item"></span> <span class="flabHamburger__item"></span>
    <span class="flabHamburger__item"></span></div>
  <div class="container">
    <div class="flabHeader__nav">
      <div class="flabHeader__userPanel">
        <ul>
          <li><a target="_blank" href="#"><i class="flabio-24-hours"></i> Поддержка</a></li>
          <li><a target="_blank" href="#" id="login"><i class="fal fa-lock-alt"></i>Войти</a></li>
        </ul>
      </div>
      <div class="flabHeader__navWrap row">
        <div class="col-xl-3 col-lg-2 col-md-2">
          <div class="flabHeader__logo">
            <a href="index.html">
              <img src="{{'assets/images/svg/logoHeader.svg'|theme}}" alt="">
            </a>
          </div>
        </div>
        <div class="col-xl-9 col-lg-10 col-md-10">
          <div class="flabHeader__navList mmenu-js">
            <ul>

              {% set records = menu.records %}
              {% set displayColumn = menu.displayColumn %}
              {% set noRecordsMessage = menu.noRecordsMessage %}
              {% set detailsPage = menu.detailsPage %}
              {% set detailsKeyColumn = menu.detailsKeyColumn %}
              {% set detailsUrlParameter = menu.detailsUrlParameter %}

              {% for record in records %}
              <li><a href="#{{record.link}}">{{record.item}}</a></li>
                {% else %}
              <li class=" no-data">{{ noRecordsMessage }}</li>
              {% endfor %}

            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="flabSlider flabSlider--mainSlider swiper-container mainSlider-js">
      <div class="flabSlider__wrap swiper-wrapper">
        {% set records = builderList.records %}
        {% set displayColumn = builderList.displayColumn %}
        {% set noRecordsMessage = builderList.noRecordsMessage %}
        {% set detailsPage = builderList.detailsPage %}
        {% set detailsKeyColumn = builderList.detailsKeyColumn %}
        {% set detailsUrlParameter = builderList.detailsUrlParameter %}

        {% for record in records %}
        <div class="flabSlider__item swiper-slide">
          <div class="row">
            <div class="col-xl-5 col-lg-5 col-md-5 order-md-2">
              <div class="flabHeader__slideImgWrap wow zoomIn">
                <div class="flabHeader__slideImg"><img src="{{ record.img|media }}" alt="">
                </div>
              </div>
            </div>
            <div class="col-xl-7 col-lg-7 col-md-7 order-md-1">
              <div class="flabHeader__slideDescWrap wow fadeIn">
                <h2 class="flabHeader__slideCaption">{{ record.heading }}</h2>

                {{ record.description|raw }}

                <div class="flabBtnWrap">
                  <a target="_blank" href="{{record.link}}"
                    class="flabBtnWrap__btn flabBtnWrap__btn--btnMainSlider">Заказать</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        {% else %}
        <p class="no-data">{{ noRecordsMessage }}</p>
        {% endfor %}`

      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</div>